  .nav-bar {
    display: flex;
    justify-content: space-between;
  }
  
  th.mat-sort-header-sorted {
    color: black;
  }

  .mat-elevation-z8 {
    width: 80%;
    margin: 0 auto;
  }

  .admin_dashboard {
    color: white;
    text-decoration: none;
  }